/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, a,
small, strike, strong, ol, ul, li, form, label, article,
aside, figcaption, footer, header, nav, section, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

body {
  font-family: 'Rubik', sans-serif;
}

.app {
  /*border-bottom: 1px solid silver;*/
}

/*HEADER*/

nav {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px 5px;
  margin-left: 10px;
}

.company-name {
  padding: 10px 5px;
  font-weight: 500;
  font-size: 24px;
  color: #317cff;
}

.auth-not-logged-in {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.auth-not-logged-in > div {
  margin: 0px 5px;
  display: flex;
}

.auth-not-logged-in a {
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  align-content: center;
  border: solid white 2px;
  border-radius: 2px;
  background: white;
}

.auth-not-logged-in a:hover {
  color: white;
  background-color: #6772E5;
  border: solid 2px #6772E5;
  border-radius: 2px;
  cursor: pointer;
}

.guest-link > a {
  border: solid 2px silver;
  background-color: white;
  border-radius: 2px;
}

.guest-link > a:hover {
  border: solid 2px black;
  background-color: white;
  color: black;
}

/*MODAL*/
.ReactModal__Content .close {
  font-size: 20px;
  color: silver;
  padding: 0px;
}

.ReactModal__Content .close:hover {
  color: grey;
  cursor: pointer;
}

/*MODAL ERRORS*/

.ReactModal__Content li {
  font-size: 13px;
  color: #d36778;
  font-weight: 300;
}

/*LOGIN FORM*/

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  margin: 20px 0px;
  font-size: 32px;
  font-weight: 400;
}

.login-form > form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px;
}

.login-form input[type=text], .login-form input[type=password] {
  width: 250px;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid silver;
}

.login-form input[type=submit] {
  align-self: flex-end;
  font-size: 16px;
  border: none;
  padding: 10px;
  background: #317cff;
  color: white;
  border-radius: 3px;
}

.login-form-signup {
  margin-top: 30px;
  font-size: 11px;
  color: silver;
}

.login-form-signup a:link {
  color: silver;
}

.login-form-signup a:visited {
  color: silver;
}

/*SIGNUP FORM*/

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form h2 {
  margin: 20px 0px;
  font-size: 32px;
  font-weight: 400;
}

.signup-form > form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin: 10px;
}

.signup-form input[type=text], .signup-form input[type=password] {
  width: 250px;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid silver;
}

.signup-form input[type=submit] {
  align-self: flex-end;
  font-size: 16px;
  border: none;
  padding: 10px;
  background: #317cff;
  color: white;
  border-radius: 3px;
}

.signup-form-login {
  margin-top: 30px;
  font-size: 11px;
  color: silver;
}

.signup-form-login a:link {
  color: silver;
}

.signup-form-login a:visited {
  color: silver;
}

/*LOGGED-IN HEADER*/

.auth-logged-in {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.auth-logged-in > img {
  height: 35px;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0px 10px;
}

.auth-logged-in > h4 {
  font-size: 14px;
  font-weight: 400;
}

.auth-logged-in > button {
  margin: 0px 5px;
  border: none;
  background-color: white;
  font-size: 12px;
  color: #317cff;
  font-weight: 300;
}

.auth-logged-in > button:hover {
  cursor: pointer;
  color: #5533ff;
}

/*SPLASH*/

.background_image {
  background-image: url("http://res.cloudinary.com/mellauyellow/image/upload/c_scale,w_3171/v1478116823/photo-1446052377488-d40ee7263458_aisnky.jpg");
  background-color: #000000;
  background-size: cover;
  height: 500px;
  color: white;
}

.background_image section {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background_image h1 {
  font-weight: 500;
  padding: 50px 0px 15px 0px;
  text-shadow: 0px 0px 1px #000000;
}

.background_image h2 {
  font-weight: 400;
  /*padding: 15px;*/
  text-shadow: 0px 0px 2px #000000;
}

/*NEIGHBORHOOD PAGE*/

.neighborhood-image {
  height: 400px;
  background-size: cover;
  background-position: 50% 50%;
}

.neighborhood-header {
  width: 900px;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
}

.neighborhood-header h2 {
  font-weight: 500;
  margin-right: 50px;
  margin-left: 10px;
}

.neighborhood-header-buttons button {
  border: none;
  background: #6772E5;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border: 3px solid white;
  margin-left: 10px;
  border-radius: 2px;
}

.neighborhood-header-buttons button:hover {
  background: #7795F8;
  border: 3px solid #6772E5;
  cursor: pointer;
}

.below-neighborhood-header {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.all-review-content {
  width: 600px;
}

.neighborhood-map {
  border: solid red 2px;
  width: 300px;
  padding: 10px;
}

.neighborhood-review-index {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid red 2px;
}

.neighborhood-trending-words {
  border: solid black 2px;
}

.review-items {
  margin: 20px 0px;
}

.review-items h4 {
  font-weight: 500;
}

.neighborhood-review-index ul {
  border: solid black 2px;
  margin: 20px 0px;
}

.neighborhood-review-index li {
  display: flex;
}

.reviewer-content img {
  border: solid silver 1px;
  border-radius: 3px;
}
