/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, a,
small, strike, strong, ol, ul, li, form, label, article,
aside, figcaption, footer, header, nav, section, button, input,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 48px;
  font-family: 'Hind', sans-serif;

}

h2 {
  font-size: 36px;
  font-family: 'Hind', sans-serif;

}

h3 {
  font-size: 24px;
  font-family: 'Hind', sans-serif;

}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.app {
  /*border-bottom: 1px solid silver;*/
}

.material-icons {
  margin-right: 5px;
}

/*HEADER*/

nav {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo-and-name > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.company-name {
  padding: 10px 5px;
  font-weight: 500;
  font-family: 'Special Elite', sans-serif;
  font-size: 26px;
}

/*NOT LOGGED IN HEADER*/

.auth-not-logged-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 240px;
}

.auth-not-logged-in > div {
  margin: 0px 5px;
  display: flex;
}

.auth-not-logged-in a {
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: silver;
  align-content: center;
  border: solid transparent 1px;
  border-radius: 2px;
  background: transparent;
}

.auth-not-logged-in a:hover {
  color: white;
  background-color: #6772E5;
  border: solid 1px #6772E5;
  border-radius: 2px;
  cursor: pointer;
}

.guest-link > a {
  border: solid 1px silver;
  background-color: transparent;
  border-radius: 2px;
}

.guest-link > a:hover {
  border: solid 1px #6772E5;
  background-color: transparent;
  color: #6772E5;
}

/*LOGGED-IN HEADER*/

.auth-logged-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  width: 240px;
}

.auth-logged-in > img {
  height: 35px;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0px 20px;
}

.logged-in-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.auth-logged-in h4 {
  font-size: 14px;
  font-weight: 400;
}

.auth-logged-in button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #6772E5;
  font-weight: 300;
}

.auth-logged-in button:hover {
  cursor: pointer;
  color: #5533ff;
}

.dropdown {
  border: 1px solid silver;
  width: 200px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  background: url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%
}

.dropdown select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*MODAL*/
.ReactModal__Content .close {
  font-size: 20px;
  color: silver;
  padding: 0px;
  position: absolute;
  left: 15px;
  top: 20px;
}

.ReactModal__Content .close:hover {
  color: grey;
  cursor: pointer;
}

/*MODAL ERRORS*/

.ReactModal__Content li {
  font-size: 13px;
  color: #d36778;
  font-weight: 300;
}

/*LOGIN FORM*/

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  margin: 10px 0px;
  font-size: 32px;
  font-weight: 400;
}

.login-form > form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin: 10px;
}

.login-form input[type=text], .login-form input[type=password] {
  width: 250px;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid silver;
}

.login-form input[type=submit] {
  align-self: flex-end;
  font-size: 16px;
  border: none;
  padding: 10px;
  background: #6772E5;
  color: white;
  border-radius: 3px;
}

.login-form-signup {
  margin-top: 30px;
  font-size: 12px;
  color: silver;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form-signup a {
  color: silver;
  font-weight: 500;
  text-decoration: underline;
}

.login-form-signup a:hover {
  cursor: pointer;
}

.login-form-signup a:visited {
  color: silver;
}

/*SIGNUP FORM*/

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form h2 {
  margin: 5px 0px;
  font-size: 32px;
  font-weight: 400;
}

.signup-form > form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin: 10px;
}

.signup-form input[type=text], .signup-form input[type=password] {
  width: 250px;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid silver;
}

.signup-form input[type=submit] {
  align-self: flex-end;
  font-size: 16px;
  border: none;
  padding: 10px;
  background: #6772E5;
  color: white;
  border-radius: 3px;
}

.signup-form-login {
  margin-top: 30px;
  font-size: 12px;
  color: silver;
}

.signup-form-login a:link {
  color: silver;
}

.signup-form-login a:visited {
  color: silver;
}

/*SPLASH*/

.children > div {
  margin: 0 auto;
  position: relative;
}

.background_image {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.25)
    ),
    url("http://res.cloudinary.com/mellauyellow/image/upload/c_scale,w_2211/v1478116823/photo-1446052377488-d40ee7263458_aisnky.jpg");
  background-size: cover;
  height: 1000px;
  color: white;
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: -1;
}

.background_image section {
  width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.background_image h1 {
  font-weight: 700;
  text-shadow: 0px 0px 1px #000000;
}

.background_image h2 {
  font-weight: 400;
  text-shadow: 0px 0px 2px #000000;
}

/*NEIGHBORHOOD PAGE*/

.neighborhood-image {
  height: 400px;
  /*background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    );*/
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}


.neighborhood-image:hover {
  cursor: pointer;
}

.neighborhood-image button {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border: 3px solid silver;
  margin-left: 10px;
  border-radius: 2px;
  position: absolute;
  bottom: 50px;
  right: 200px;
}

.neighborhood-image button:hover {
  /*background: #7795F8;*/
  border: 3px solid #6772E5;
  cursor: pointer;
}

/*IMAGES SLIDESHOW*/

.all-images-slideshow {
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
  color: #333;
  background-color: white;
}

.slick-list {
  height: 100%
}

.slick-track {
  height: 100%;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slick-slide, .slick-slider {
  height: 100%;
}

.slick-slider {
  position: relative;
}

.slick-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-prev {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: 5px;
  color: transparent;
  content: ">";
  background-image: url("http://res.cloudinary.com/mellauyellow/image/upload/c_scale,w_104/v1478815532/Next_Arrow.svg_y0ctox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline-style: none;
  transform: rotate(180deg);
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
  }

.slick-next {
  position: absolute;
  z-index: 1;
  top: 250px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: transparent;
  content: ">";
  background-image: url("http://res.cloudinary.com/mellauyellow/image/upload/c_scale,w_104/v1478815532/Next_Arrow.svg_y0ctox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline-style: none;
}

.slick-next:hover {
  cursor: pointer;
}

.slick-prev:hover {
  cursor: pointer;
}

.slick-next:before {
  content: ">" !important;
  display: none;
}

.slick-prev:before {
  display: none;
}

.slick-prev:after {
  display: none;
}

.image-slide {
  /*height: 80%;*/
  max-width: 600px;
  /*margin: auto auto 20px auto;*/
}

/*NEIGHBORHOOD HEADER*/

.neighborhood-header {
  width: 950px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.neighborhood-header-topline {
  display: flex;
  align-items: center;
}

.neighborhood-header-topline h2 {
  font-weight: 500;
  margin-right: 50px;
  margin-left: 10px;
}

.neighborhood-header-buttons button {
  border: none;
  background: #6772E5;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border: 3px solid white;
  margin-left: 10px;
  border-radius: 2px;
}

.neighborhood-header-buttons button:hover {
  background: #7795F8;
  border: 3px solid #6772E5;
  cursor: pointer;
}

.neighborhood-header a {
  margin-left: 10px;
  text-decoration: none
}

.below-neighborhood-header {
  display: flex;
  width: 950px;
  margin: 0 auto;
}

/*REVIEW FORM*/

.review-form {
  padding: 20px;
}

.review-form ul {
  margin-left: 3px;
  margin-bottom: 5px;
}
.review-form form {
  display: flex;
}

.review-form h3 {
  margin-bottom: 20px;
  text-align: center;
}

.review-form form > label {
  margin-right: 60px;
}

.review-form textarea {
  width: 250px;
  height: 200px;
  border: 1px solid silver;
  font-size: 12px;
  resize: none;
  padding: 5px;
  margin-left: 3px;
}

.review-form-field-header {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 3px;
}

.review-questions {
  display: flex;
  flex-direction: column;
}

.review-questions fieldset {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 3px;
}

fieldset > h5 {
  margin-bottom: 5px;
  font-weight: 400;
}

.review-form-item {
  display: flex;
}

.review-form-item label {
  display: flex;
}

.review-form-item h6, input {
  margin-right: 10px;
}

.review-form-buttons {
  display: flex;
  flex-direction: column;
}

.review-form-image-section {
  display: flex;
  align-items: baseline;
  margin-left: 3px;
}

.review-form-image-section button {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 400;
  padding: 5px;
  border: 2px solid silver;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.review-form-buttons input[type=submit] {
  background: #6772E5;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  border: 3px solid white;
  border-radius: 2px;
}

.review-form-buttons input[type=submit]:hover {
  background: #7795F8;
  border: 3px solid #6772E5;
  cursor: pointer;
}

/*NEIGHBORHOOD PAGE CONTENT*/

.all-review-content {
  width: 65%;
  margin-right: 30px;
}

.neighborhood-map {
  border: solid black 1px;
  width: 35%;
  height: 300px;
  margin-bottom: 80px;
  margin-top: 10px;
}

.neighborhood-review-index {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.neighborhood-trending-words {

}

.review-items {
}

.review-items h4 {
  font-weight: 500;
}

.neighborhood-review-index ul {
  margin: 10px 0px;
}

.neighborhood-review-index li {
  display: flex;
  padding: 20px 0px;
  border-bottom: 1px solid silver;
}

.reviewer-content {
  display: flex;
}

.reviewer-content img {
  border: solid silver 1px;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.reviewer-content > div {
  width: 120px;
}

.reviewer-content h5 {
  font-weight: 500;
  color: #6772E5;
}

.review-body h5:first-of-type {
  color: silver;
  margin-bottom: 10px;
}

.review-body h5 {
  margin-bottom: 20px;
}

.review-images {
  display: flex;
}

.review-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 2px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.review-edit-section button {
  font-size: 11px;
  background: transparent;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 3px 5px;
  margin-right: 10px;
}

.review-edit-section button:hover {
  border: 1px solid #6772E5;
  cursor: pointer;
}

/*SEARCH RESULTS*/

.search-filters {
  display: flex;
  flex-direction: column;
  width: 950px;
  margin: 0 auto;
  padding: 15px;
}

.search-header {
  display: flex;
  flex-direction: column;
}

.search-header h3 {
  /*margin-bottom: 10px;*/
}


.search-filters-button-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.search-filters-button-form button {
  display: flex;
  align-items: center;
  background-color: #6772E5;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 8px;
  border: 2px solid white;
  border-radius: 2px;
}

.search-filters-button-form button:hover {
  border: 2px solid #6772E5;
  background-color: #7795F8;
  cursor: pointer;
}

.search-filters-button-form .material-icons {
  margin-right: 3px;
  color: white;
}

.hidden {
  display: none;
}

.search-filters-form {
  display: flex;
  margin-top: 20px;
}

.search-filters-form label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.search-filters-form h6 {
  margin-right: 10px;
}

.search-filters-form-select {
  border: 1px solid silver;
  /*width: 200px;*/
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  background: url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%
}

.search-filters-form-select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-filters-form-select-region {
  border: 1px solid silver;
  width: 120px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  background: url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%
}

.search-filters-form-select-region select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-filters-form-select-neighborhood {
  border: 1px solid silver;
  width: 200px;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;
  background: url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%
}

.search-filters-form-select-neighborhood select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Yantramanav', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.region-results-content {
  display: flex;
}

.region-results h3 {
  margin-bottom: 10px;
}

.region-results {
  width: 55%;
  margin-right: 50px;
}

.neighborhood-result-item {
  display: flex;
  border-bottom: solid 1px silver;
  padding: 20px 0px;
  align-content: center;
}

.neighborhood-result-item a {
  text-decoration: none;
}

.neighborhood-result-item h4 {
  color: #6772E5;
}

.neighborhood-result-item h5 {
  color: black;
  font-weight: 300;
}

.neighborhood-result-item div {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin-right: 20px;
}

.sticky-container {
  width: 45%;
}

.region-map {
  border: 1px solid black;
  height: 500px;
  margin-top: 20px;
}

.gm-style-iw {
  text-align: center;
  padding: 0px;
}

.gm-style-iw + div {
  display: none;
}
